### TUGAS 2 PRAKTIKUM VISUALISASI DATA  
<ul>
<li>Author: Abdul Hafidh</li>
<li>NPM: 2008107010056</li>
<li>Kelas: B</li>

</ul>

Pada tugas ini library yang saya pakai adalah sebagai berikut:

In [835]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

Mengambil dataset covid_variants.csv

In [836]:
sample = pd.read_csv('https://raw.githubusercontent.com/AbdulHafidh-AI/Praktikum-Visualisasi-Data/master/Military%20Expenditure.csv')

Pada dataset ini terdapat 6 atribut yaitu:
- location -> Menerangkan informasi terkait varians covid pada negara tersebut;
- date -> Memberi tahu kapan data itu di input;
- variant - Menjelaskan varians yang berhubungan dengan kapan data itu di input;
- num_sequences - Menjelaskan jumlah urutan yang diproses (untuk negara, varians, dan tanggal);
- perc_sequences - Menjelaskan persentase urutan dari jumlah total urutan (untuk negara, varian dan tanggal);
- numsequencestotal - Menjelaskan Jumlah total urutan (Untuk negara, variant dan tanggal);

### 1. Exploratory Data Analysis

 Berikut ini adalah 10 data teratas

In [837]:
sample.head(10)

,Name,Code,Type,Indicator Name,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,2.518695e+08,2.981469e+08,3.258070e+08,2.385834e+08,2.171941e+08,2.682271e+08,1.995186e+08,1.858783e+08,1.914071e+08,1.980863e+08
2,Angola,AGO,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
3,Albania,ALB,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,1.827369e+08,1.858932e+08,1.970068e+08,1.832047e+08,1.800155e+08,1.781204e+08,1.323507e+08,1.308532e+08,1.443827e+08,1.804887e+08
4,Andorra,AND,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,Regions Clubbed Geographically,Military expenditure (current USD),NaN,NaN,833229524.1,916446054.5,1.225339e+09,1.416443e+09,...,9.150404e+10,9.797637e+10,1.080000e+11,1.220000e+11,1.430000e+11,1.550000e+11,1.380000e+11,1.120000e+11,1.190000e+11,1.130000e+11
6,United Arab Emirates,ARE,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,1.383635e+10,1.750470e+10,1.918176e+10,1.902410e+10,2.356106e+10,2.275507e+10,NaN,NaN,NaN,NaN
7,Argentina,ARG,Country,Military expenditure (current USD),NaN,NaN,305162407.2,242219771.2,2.457405e+08,2.524076e+08,...,2.981852e+09,3.475348e+09,4.051930e+09,4.563218e+09,5.137974e+09,4.979443e+09,5.482617e+09,4.509648e+09,5.459644e+09,4.144992e+09
8,Armenia,ARM,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,3.594993e+08,3.950115e+08,3.908714e+08,3.805717e+08,4.445519e+08,4.578070e+08,4.473798e+08,4.313962e+08,4.436104e+08,6.088546e+08
9,American Samoa,ASM,Semi Autonomous Region,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Berikut ini adalah 10 data terbawah

In [838]:
sample.tail(10)

,Name,Code,Type,Indicator Name,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
254,Virgin Islands (U.S.),VIR,Semi Autonomous Region,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Vietnam,VNM,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,2.401451e+09,2.672286e+09,2.686521e+09,3.360860e+09,3.727249e+09,4.255722e+09,4.562633e+09,5.017402e+09,5.073854e+09,5.500000e+09
256,Vanuatu,VUT,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,World,WLD,Regions Clubbed Geographically,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,1.550000e+12,1.630000e+12,1.730000e+12,1.740000e+12,1.740000e+12,1.740000e+12,1.640000e+12,1.630000e+12,1.700000e+12,1.780000e+12
258,Samoa,WSM,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Kosovo,XKX,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,2.722709e+07,3.857812e+07,5.096886e+07,4.339040e+07,4.859768e+07,5.357579e+07,4.998416e+07,5.193762e+07,5.726263e+07,6.334407e+07
260,"Yemen, Rep.",YEM,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,1.420775e+09,1.448153e+09,1.612254e+09,1.618840e+09,1.648751e+09,1.714831e+09,NaN,NaN,NaN,NaN
261,South Africa,ZAF,Country,Military expenditure (current USD),69999972.0,113749954.5,186199925.5,188999924.4,271599891.4,289449884.2,...,3.592688e+09,4.188168e+09,4.594154e+09,4.489590e+09,4.118208e+09,3.892469e+09,3.488868e+09,3.169756e+09,3.638937e+09,3.639879e+09
262,Zambia,ZMB,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,2.209623e+08,2.801878e+08,3.091138e+08,3.463014e+08,3.813458e+08,4.436044e+08,3.724476e+08,2.995048e+08,3.396645e+08,3.780254e+08
263,Zimbabwe,ZWE,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,15600000.0,...,NaN,9.829300e+07,1.984380e+08,3.182720e+08,3.567000e+08,3.681000e+08,3.766770e+08,3.580650e+08,3.405220e+08,4.203640e+08

Banyaknya entri pada dataset berikut adalah:

In [839]:
print(sample.shape)

(264, 63)

Berikut ini adalah dataset dengan column yang sudah di rename

In [840]:
sample.head(10)

,Name,Code,Type,Indicator Name,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,2.518695e+08,2.981469e+08,3.258070e+08,2.385834e+08,2.171941e+08,2.682271e+08,1.995186e+08,1.858783e+08,1.914071e+08,1.980863e+08
2,Angola,AGO,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
3,Albania,ALB,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,1.827369e+08,1.858932e+08,1.970068e+08,1.832047e+08,1.800155e+08,1.781204e+08,1.323507e+08,1.308532e+08,1.443827e+08,1.804887e+08
4,Andorra,AND,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,Regions Clubbed Geographically,Military expenditure (current USD),NaN,NaN,833229524.1,916446054.5,1.225339e+09,1.416443e+09,...,9.150404e+10,9.797637e+10,1.080000e+11,1.220000e+11,1.430000e+11,1.550000e+11,1.380000e+11,1.120000e+11,1.190000e+11,1.130000e+11
6,United Arab Emirates,ARE,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,1.383635e+10,1.750470e+10,1.918176e+10,1.902410e+10,2.356106e+10,2.275507e+10,NaN,NaN,NaN,NaN
7,Argentina,ARG,Country,Military expenditure (current USD),NaN,NaN,305162407.2,242219771.2,2.457405e+08,2.524076e+08,...,2.981852e+09,3.475348e+09,4.051930e+09,4.563218e+09,5.137974e+09,4.979443e+09,5.482617e+09,4.509648e+09,5.459644e+09,4.144992e+09
8,Armenia,ARM,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,3.594993e+08,3.950115e+08,3.908714e+08,3.805717e+08,4.445519e+08,4.578070e+08,4.473798e+08,4.313962e+08,4.436104e+08,6.088546e+08
9,American Samoa,ASM,Semi Autonomous Region,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Mengganti library pada kolum menjadi tipe data String

In [841]:
sample.columns = list(map(str, sample.columns))

all(isinstance(column, str) for column in sample.columns)

True

In [842]:
sample.shape

(264, 63)

In [843]:
sample['Total'] = sample.sum(axis=1)

sample.head

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_40736\3562591385.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sample['Total'] = sample.sum(axis=1)

<bound method NDFrame.head of              Name Code     Type                      Indicator Name  \
0           Aruba  ABW  Country  Military expenditure (current USD)
1     Afghanistan  AFG  Country  Military expenditure (current USD)
2          Angola  AGO  Country  Military expenditure (current USD)
3         Albania  ALB  Country  Military expenditure (current USD)
4         Andorra  AND  Country  Military expenditure (current USD)
..            ...  ...      ...                                 ...
259        Kosovo  XKX  Country  Military expenditure (current USD)
260   Yemen, Rep.  YEM  Country  Military expenditure (current USD)
261  South Africa  ZAF  Country  Military expenditure (current USD)
262        Zambia  ZMB  Country  Military expenditure (current USD)
263      Zimbabwe  ZWE  Country  Military expenditure (current USD)

           1960         1961         1962         1963         1964  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
259         NaN          NaN          NaN          NaN          NaN
260         NaN          NaN          NaN          NaN          NaN
261  69999972.0  113749954.5  186199925.5  188999924.4  271599891.4
262         NaN          NaN          NaN          NaN          NaN
263         NaN          NaN          NaN          NaN          NaN

            1965  ...          2010          2011          2012          2013  \
0            NaN  ...           NaN           NaN           NaN           NaN
1            NaN  ...  2.981469e+08  3.258070e+08  2.385834e+08  2.171941e+08
2            NaN  ...  3.500795e+09  3.639496e+09  4.144635e+09  6.090752e+09
3            NaN  ...  1.858932e+08  1.970068e+08  1.832047e+08  1.800155e+08
4            NaN  ...           NaN           NaN           NaN           NaN
..           ...  ...           ...           ...           ...           ...
259          NaN  ...  3.857812e+07  5.096886e+07  4.339040e+07  4.859768e+07
260          NaN  ...  1.448153e+09  1.612254e+09  1.618840e+09  1.648751e+09
261  289449884.2  ...  4.188168e+09  4.594154e+09  4.489590e+09  4.118208e+09
262          NaN  ...  2.801878e+08  3.091138e+08  3.463014e+08  3.813458e+08
263   15600000.0  ...  9.829300e+07  1.984380e+08  3.182720e+08  3.567000e+08

             2014          2015          2016          2017          2018  \
0             NaN           NaN           NaN           NaN           NaN
1    2.682271e+08  1.995186e+08  1.858783e+08  1.914071e+08  1.980863e+08
2    6.841864e+09  3.608299e+09  2.764055e+09  3.062873e+09  1.983614e+09
3    1.781204e+08  1.323507e+08  1.308532e+08  1.443827e+08  1.804887e+08
4             NaN           NaN           NaN           NaN           NaN
..            ...           ...           ...           ...           ...
259  5.357579e+07  4.998416e+07  5.193762e+07  5.726263e+07  6.334407e+07
260  1.714831e+09           NaN           NaN           NaN           NaN
261  3.892469e+09  3.488868e+09  3.169756e+09  3.638937e+09  3.639879e+09
262  4.436044e+08  3.724476e+08  2.995048e+08  3.396645e+08  3.780254e+08
263  3.681000e+08  3.766770e+08  3.580650e+08  3.405220e+08  4.203640e+08

            Total
0    0.000000e+00
1    3.239602e+09
2    7.011220e+10
3    3.054373e+09
4    0.000000e+00
..            ...
259  4.857937e+08
260  2.607185e+10
261  1.406252e+11
262  5.472793e+09
263  1.374008e+10

[264 rows x 64 columns]>

In [ ]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96232 entries, 0 to 100414
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             96232 non-null  object
 1   date                 96232 non-null  object
 2   variant              96232 non-null  object
 3   num_sequences        96232 non-null  int64
 4   perc_sequences       96232 non-null  float64
 5   num_sequences_total  96232 non-null  int64
 6   Total                96232 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 5.9+ MB

In [ ]:
sample.describe()

       num_sequences  perc_sequences  num_sequences_total          Total
count   96232.000000    96232.000000         96232.000000   96232.000000
mean       65.634020        4.347826          1509.582457    1579.564303
std      1682.379096       18.186022          8445.293600    8964.700458
min         0.000000       -0.010000             1.000000       1.000000
25%         0.000000        0.000000            12.000000      13.000000
50%         0.000000        0.000000            59.000000      67.000000
75%         0.000000        0.000000           394.000000     418.000000
max    142280.000000      100.000000        146170.000000  288547.340000