### INTRODUCTION
<ul>
<li>Nama: Abdul Hafidh</li>
<li> NPM: 2008107010056</li>
<li> Kelas: B</li>
</ul>

Pada Tugas ini library yang di import adalah sebagai berikut:
<br>
1. Pandas ==> Salah satu tujuanya itu adalah untuk membaca datasets
<br>
2. Numpy ==> 
<br> 
3.
<br> 
4.
<br> 
5.

In [26]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library
from PIL import Image # converting images into arrays

In [31]:
sample = pd.read_csv('https://raw.githubusercontent.com/AbdulHafidh-AI/Praktikum-Visualisasi-Data/master/Military%20Expenditure.csv')

### 1. Exploratory Data Analysis

Melihat 5 data teratas

In [35]:
print(sample.head());

          Name Code     Type                      Indicator Name  1960  1961  \
0        Aruba  ABW  Country  Military expenditure (current USD)   NaN   NaN
1  Afghanistan  AFG  Country  Military expenditure (current USD)   NaN   NaN
2       Angola  AGO  Country  Military expenditure (current USD)   NaN   NaN
3      Albania  ALB  Country  Military expenditure (current USD)   NaN   NaN
4      Andorra  AND  Country  Military expenditure (current USD)   NaN   NaN

   1962  1963  1964  1965  ...          2009          2010          2011  \
0   NaN   NaN   NaN   NaN  ...           NaN           NaN           NaN
1   NaN   NaN   NaN   NaN  ...  2.518695e+08  2.981469e+08  3.258070e+08
2   NaN   NaN   NaN   NaN  ...  3.311193e+09  3.500795e+09  3.639496e+09
3   NaN   NaN   NaN   NaN  ...  1.827369e+08  1.858932e+08  1.970068e+08
4   NaN   NaN   NaN   NaN  ...           NaN           NaN           NaN

           2012          2013          2014          2015          2016  \
0           NaN           NaN           NaN           NaN           NaN
1  2.385834e+08  2.171941e+08  2.682271e+08  1.995186e+08  1.858783e+08
2  4.144635e+09  6.090752e+09  6.841864e+09  3.608299e+09  2.764055e+09
3  1.832047e+08  1.800155e+08  1.781204e+08  1.323507e+08  1.308532e+08
4           NaN           NaN           NaN           NaN           NaN

           2017          2018
0           NaN           NaN
1  1.914071e+08  1.980863e+08
2  3.062873e+09  1.983614e+09
3  1.443827e+08  1.804887e+08
4           NaN           NaN

[5 rows x 63 columns]

Melihat 5 data terbawah

In [36]:
print(sample.tail());

             Name Code     Type                      Indicator Name  \
259        Kosovo  XKX  Country  Military expenditure (current USD)
260   Yemen, Rep.  YEM  Country  Military expenditure (current USD)
261  South Africa  ZAF  Country  Military expenditure (current USD)
262        Zambia  ZMB  Country  Military expenditure (current USD)
263      Zimbabwe  ZWE  Country  Military expenditure (current USD)

           1960         1961         1962         1963         1964  \
259         NaN          NaN          NaN          NaN          NaN
260         NaN          NaN          NaN          NaN          NaN
261  69999972.0  113749954.5  186199925.5  188999924.4  271599891.4
262         NaN          NaN          NaN          NaN          NaN
263         NaN          NaN          NaN          NaN          NaN

            1965  ...          2009          2010          2011          2012  \
259          NaN  ...  2.722709e+07  3.857812e+07  5.096886e+07  4.339040e+07
260          NaN  ...  1.420775e+09  1.448153e+09  1.612254e+09  1.618840e+09
261  289449884.2  ...  3.592688e+09  4.188168e+09  4.594154e+09  4.489590e+09
262          NaN  ...  2.209623e+08  2.801878e+08  3.091138e+08  3.463014e+08
263   15600000.0  ...           NaN  9.829300e+07  1.984380e+08  3.182720e+08

             2013          2014          2015          2016          2017  \
259  4.859768e+07  5.357579e+07  4.998416e+07  5.193762e+07  5.726263e+07
260  1.648751e+09  1.714831e+09           NaN           NaN           NaN
261  4.118208e+09  3.892469e+09  3.488868e+09  3.169756e+09  3.638937e+09
262  3.813458e+08  4.436044e+08  3.724476e+08  2.995048e+08  3.396645e+08
263  3.567000e+08  3.681000e+08  3.766770e+08  3.580650e+08  3.405220e+08

             2018
259  6.334407e+07
260           NaN
261  3.639879e+09
262  3.780254e+08
263  4.203640e+08

[5 rows x 63 columns]

Menghapus semua missing value pada dataset

In [38]:
sample = sample.dropna();
sample

,Name,Code,Type,Indicator Name,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
11,Australia,AUS,Country,Military expenditure (current USD),4.597601e+08,4.709601e+08,4.894401e+08,5.532801e+08,6.557601e+08,7.873601e+08,...,1.896014e+10,2.321769e+10,2.659720e+10,2.621658e+10,2.482526e+10,2.578371e+10,2.404557e+10,2.638295e+10,2.769111e+10,2.671183e+10
12,Austria,AUT,Country,Military expenditure (current USD),9.155910e+07,9.102985e+07,1.000270e+08,1.259599e+08,1.645947e+08,1.428957e+08,...,3.334755e+09,3.218351e+09,3.409721e+09,3.187227e+09,3.229066e+09,3.305159e+09,2.665410e+09,2.885947e+09,3.138359e+09,3.367460e+09
15,Belgium,BEL,Country,Military expenditure (current USD),3.832202e+08,3.912188e+08,4.222208e+08,4.446013e+08,4.970592e+08,5.007221e+08,...,5.620670e+09,5.244721e+09,5.499371e+09,5.168998e+09,5.263165e+09,5.191509e+09,4.202063e+09,4.314102e+09,4.484653e+09,4.959692e+09
17,Burkina Faso,BFA,Country,Military expenditure (current USD),1.268378e+06,1.643154e+06,4.901761e+06,5.281288e+06,5.358593e+06,3.509330e+06,...,1.273333e+08,1.237005e+08,1.388509e+08,1.477297e+08,1.661363e+08,1.771670e+08,1.479347e+08,1.494674e+08,1.910658e+08,3.124676e+08
27,Brazil,BRA,Country,Military expenditure (current USD),3.827298e+08,3.423397e+08,3.874490e+08,4.419996e+08,3.542279e+08,6.328690e+08,...,2.564881e+10,3.400294e+10,3.693621e+10,3.398701e+10,3.287479e+10,3.265961e+10,2.461770e+10,2.422475e+10,2.928305e+10,2.776643e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,South Asia (IDA & IBRD),TSA,Regions Clubbed Economically,Military expenditure (current USD),9.072639e+08,9.755770e+08,1.281626e+09,2.029027e+09,2.258474e+09,2.580099e+09,...,4.723932e+10,5.577481e+10,6.075238e+10,5.848949e+10,5.919605e+10,6.443596e+10,6.617543e+10,7.213496e+10,8.207734e+10,8.405855e+10
241,Tunisia,TUN,Country,Military expenditure (current USD),1.595238e+07,1.857143e+07,1.428571e+07,1.523810e+07,1.747899e+07,1.276190e+07,...,5.647759e+08,5.711890e+08,7.152396e+08,6.812260e+08,7.593589e+08,9.083573e+08,9.794940e+08,9.877347e+08,8.589496e+08,8.442274e+08
242,Turkey,TUR,Country,Military expenditure (current USD),4.688109e+08,3.013304e+08,3.303769e+08,3.500000e+08,3.808978e+08,4.226770e+08,...,1.635230e+10,1.793937e+10,1.730488e+10,1.795824e+10,1.866257e+10,1.777217e+10,1.588093e+10,1.785398e+10,1.782401e+10,1.896711e+10
249,United States,USA,Country,Military expenditure (current USD),4.538000e+10,4.780800e+10,5.238100e+10,5.229500e+10,5.121300e+10,5.182700e+10,...,6.690000e+11,6.980000e+11,7.110000e+11,6.850000e+11,6.400000e+11,6.100000e+11,5.960000e+11,6.000000e+11,6.060000e+11,6.490000e+11
261,South Africa,ZAF,Country,Military expenditure (current USD),6.999997e+07,1.137500e+08,1.861999e+08,1.889999e+08,2.715999e+08,2.894499e+08,...,3.592688e+09,4.188168e+09,4.594154e+09,4.489590e+09,4.118208e+09,3.892469e+09,3.488868e+09,3.169756e+09,3.638937e+09,3.639879e+09

### 2. Filtering

### 3. Waffle Chart

### 4. Word Clouds

### 5. Seaborn and Regression Plots