### TUGAS 3 PRAKTIKUM VISUALISASI DATA
<ul>
<li>Nama: Abdul Hafidh ðŸ‘¨</li>
<li>NPM : 2008107010056 </li>
<li>Kelas: B </li>
</ul>

In [1]:
import pandas as pd
import matplotlib as mpl

In [2]:
sample = pd.read_csv('https://raw.githubusercontent.com/AbdulHafidh-AI/Praktikum-Visualisasi-Data/master/Military%20Expenditure.csv')

### 1. EXPLORATORY DATA ANALYSIS

Menampilkan data 5 teratas

In [3]:
sample.head()

,Name,Code,Type,Indicator Name,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,2.518695e+08,2.981469e+08,3.258070e+08,2.385834e+08,2.171941e+08,2.682271e+08,1.995186e+08,1.858783e+08,1.914071e+08,1.980863e+08
2,Angola,AGO,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
3,Albania,ALB,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,1.827369e+08,1.858932e+08,1.970068e+08,1.832047e+08,1.800155e+08,1.781204e+08,1.323507e+08,1.308532e+08,1.443827e+08,1.804887e+08
4,Andorra,AND,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Menampilkan data 5 terbawah

In [4]:
sample.tail()

,Name,Code,Type,Indicator Name,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
259,Kosovo,XKX,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,2.722709e+07,3.857812e+07,5.096886e+07,4.339040e+07,4.859768e+07,5.357579e+07,4.998416e+07,5.193762e+07,5.726263e+07,6.334407e+07
260,"Yemen, Rep.",YEM,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,1.420775e+09,1.448153e+09,1.612254e+09,1.618840e+09,1.648751e+09,1.714831e+09,NaN,NaN,NaN,NaN
261,South Africa,ZAF,Country,Military expenditure (current USD),69999972.0,113749954.5,186199925.5,188999924.4,271599891.4,289449884.2,...,3.592688e+09,4.188168e+09,4.594154e+09,4.489590e+09,4.118208e+09,3.892469e+09,3.488868e+09,3.169756e+09,3.638937e+09,3.639879e+09
262,Zambia,ZMB,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,NaN,...,2.209623e+08,2.801878e+08,3.091138e+08,3.463014e+08,3.813458e+08,4.436044e+08,3.724476e+08,2.995048e+08,3.396645e+08,3.780254e+08
263,Zimbabwe,ZWE,Country,Military expenditure (current USD),NaN,NaN,NaN,NaN,NaN,15600000.0,...,NaN,9.829300e+07,1.984380e+08,3.182720e+08,3.567000e+08,3.681000e+08,3.766770e+08,3.580650e+08,3.405220e+08,4.203640e+08

Menghitung banyaknya entri pada dataset

In [6]:
sample.shape

(264, 63)

Menghitung data yang missing values

In [5]:
sample.isnull().sum()

Name                0
Code                0
Type                0
Indicator Name      0
1960              185
                 ...
2014               61
2015               66
2016               67
2017               69
2018               68
Length: 63, dtype: int64

Mengganti semua kolong dengan tipe data String

In [7]:
sample.columns = list(map(str, sample.columns))

all(isinstance(column, str) for column in sample.columns)

True

Melihat segala informasi pada dataset

In [8]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            264 non-null    object
 1   Code            264 non-null    object
 2   Type            264 non-null    object
 3   Indicator Name  264 non-null    object
 4   1960            79 non-null     float64
 5   1961            84 non-null     float64
 6   1962            93 non-null     float64
 7   1963            98 non-null     float64
 8   1964            98 non-null     float64
 9   1965            104 non-null    float64
 10  1966            104 non-null    float64
 11  1967            105 non-null    float64
 12  1968            113 non-null    float64
 13  1969            113 non-null    float64
 14  1970            121 non-null    float64
 15  1971            122 non-null    float64
 16  1972            123 non-null    float64
 17  1973            130 non-null    float64
 18  1974            128 non-null    float64
 19  1975            128 non-null    float64
 20  1976            132 non-null    float64
 21  1977            137 non-null    float64
 22  1978            136 non-null    float64
 23  1979            138 non-null    float64
 24  1980            140 non-null    float64
 25  1981            143 non-null    float64
 26  1982            137 non-null    float64
 27  1983            136 non-null    float64
 28  1984            142 non-null    float64
 29  1985            147 non-null    float64
 30  1986            143 non-null    float64
 31  1987            147 non-null    float64
 32  1988            145 non-null    float64
 33  1989            154 non-null    float64
 34  1990            158 non-null    float64
 35  1991            160 non-null    float64
 36  1992            167 non-null    float64
 37  1993            185 non-null    float64
 38  1994            187 non-null    float64
 39  1995            184 non-null    float64
 40  1996            186 non-null    float64
 41  1997            187 non-null    float64
 42  1998            182 non-null    float64
 43  1999            184 non-null    float64
 44  2000            189 non-null    float64
 45  2001            190 non-null    float64
 46  2002            193 non-null    float64
 47  2003            199 non-null    float64
 48  2004            199 non-null    float64
 49  2005            201 non-null    float64
 50  2006            197 non-null    float64
 51  2007            195 non-null    float64
 52  2008            201 non-null    float64
 53  2009            197 non-null    float64
 54  2010            196 non-null    float64
 55  2011            194 non-null    float64
 56  2012            199 non-null    float64
 57  2013            202 non-null    float64
 58  2014            203 non-null    float64
 59  2015            198 non-null    float64
 60  2016            197 non-null    float64
 61  2017            195 non-null    float64
 62  2018            196 non-null    float64
dtypes: float64(59), object(4)
memory usage: 130.1+ KB

### 2. FILTERING

### 3. PIE CHART

### 4. BOX PLOT

### 5. SCATTER PLOT