# Tugas 1 Praktikum Visualisasi Data
## Pada tugas ini dataset yang saya gunakan adalah dataset terhadap variants covid

- Nama: Abdul Hafidh
- NPM: 2008107010056
- Kelas: B

# Library atau modules yang saya gunakan untuk tugas ini adalah sebagai berikut:
- pandas -> untuk membaca dataset yang berekstensi *.csv
- matplotlib -> untuk menampilkan line plot

In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl

# Untuk membaca data "covid-variants.csv" saya memakai fungsi read pada library pandas

In [4]:
dataCovid = pd.read_csv('covid-variants.csv')

# No. 1 Exploratory Data Analysis

Pada bagian ini saya ingin melakukan eksplorasi pada hal-hal dibawah ini:
A. Menampilkan data 5 teratas
B. Menampilkan data 5 terbawah 
C. Menampilkan data yang duplikat
D. Menampilkan nilai deskriptif pada atribut yang kuantitatif

# A. Berikut ini adalah data-data 5 teratas

In [9]:
print(dataCovid.head())

  location        date    variant  num_sequences  perc_sequences  \
0   Angola  2020-07-06      Alpha              0             0.0
1   Angola  2020-07-06  B.1.1.277              0             0.0
2   Angola  2020-07-06  B.1.1.302              0             0.0
3   Angola  2020-07-06  B.1.1.519              0             0.0
4   Angola  2020-07-06    B.1.160              0             0.0

   num_sequences_total
0                    3
1                    3
2                    3
3                    3
4                    3

# B. Berikut ini adalah data-data 5 terbawah

In [5]:
print(dataCovid.tail())

        location        date         variant  num_sequences  perc_sequences  \
100411  Zimbabwe  2021-11-01         Omicron              0             0.0
100412  Zimbabwe  2021-11-01   S:677H.Robin1              0             0.0
100413  Zimbabwe  2021-11-01  S:677P.Pelican              0             0.0
100414  Zimbabwe  2021-11-01          others              0             0.0
100415  Zimbabwe  2021-11-01         non_who              0             0.0

        num_sequences_total
100411                    6
100412                    6
100413                    6
100414                    6
100415                    6

# C. Menampilkan data yang duplikat

# D. Menampilkan nilai deskriptif pada atribut kuantitatif

In [14]:
dataCovid.describe(include = [object])

          location        date variant
count       100416      100416  100416
unique         121          45      24
top     Bangladesh  2021-01-25   Alpha
freq          1080        2688    4184

# No 2. Filtering

Pada bagian ini saya ingin menampilkan data yang variants-nya itu adalah omicron

# No 3. Plotting