### TUGAS 2 PRAKTIKUM VISUALISASI DATA  
<ul>
<li>Author: Abdul Hafidh</li>
<li>NPM: 2008107010056</li>
<li>Kelas: B</li>

</ul>

Pada tugas ini library yang saya pakai adalah sebagai berikut:

In [1]:
import matplotlib as mpl
import pandas as pd
import numpy as np

Mengambil dataset covid_variants.csv

In [2]:
sample = pd.read_csv('https://raw.githubusercontent.com/AbdulHafidh-AI/Praktikum-Visualisasi-Data/master/covid-variants.csv')

### 1. Exploratory Data Analysis

 Berikut ini adalah 10 data teratas

In [3]:
sample.head(10)

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,Alpha,0,0.0,3
1,Angola,2020-07-06,B.1.1.277,0,0.0,3
2,Angola,2020-07-06,B.1.1.302,0,0.0,3
3,Angola,2020-07-06,B.1.1.519,0,0.0,3
4,Angola,2020-07-06,B.1.160,0,0.0,3
5,Angola,2020-07-06,B.1.177,0,0.0,3
6,Angola,2020-07-06,B.1.221,0,0.0,3
7,Angola,2020-07-06,B.1.258,0,0.0,3
8,Angola,2020-07-06,B.1.367,0,0.0,3
9,Angola,2020-07-06,B.1.620,0,0.0,3

Berikut ini adalah 10 data terbawah

In [4]:
sample.tail(10)

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
100406,Zimbabwe,2021-11-01,Gamma,0,0.0,6
100407,Zimbabwe,2021-11-01,Iota,0,0.0,6
100408,Zimbabwe,2021-11-01,Kappa,0,0.0,6
100409,Zimbabwe,2021-11-01,Lambda,0,0.0,6
100410,Zimbabwe,2021-11-01,Mu,0,0.0,6
100411,Zimbabwe,2021-11-01,Omicron,0,0.0,6
100412,Zimbabwe,2021-11-01,S:677H.Robin1,0,0.0,6
100413,Zimbabwe,2021-11-01,S:677P.Pelican,0,0.0,6
100414,Zimbabwe,2021-11-01,others,0,0.0,6
100415,Zimbabwe,2021-11-01,non_who,0,0.0,6

### 2. Filtering

### 3. Area Plot

### 4.Histograms

### 5. Bar Chart